extends layout

block content

  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top.container
      a.navbar-brand(href='#page-top') RED DE BICICLETAS
      button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') Acerca de 
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#mapa') Mapa

  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      img.masthead-avatar.mb-5(src='/images/avataaars.svg' alt='...')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 Red de bicicletas (Bievenido a Node Js Express)
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 La mejor comunidad de bicicletas!

  // About Section
  section#about.page-section.bg-secondary.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white About
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-12.ms-auto.text-center.mt-4
          p.lead
            | Primer sitio web desarrolla con Node Js, Express.
            | Es desarrollado con fines educativos
      // About Section Button
      

  //Mapa
  section#mapa
    #main_map

  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; 2021

  script(src='https://unpkg.com/leaflet@1.0.2/dist/leaflet.js')
    
  script(src='/javascripts/map.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  script(src='/javascripts/scripts.js')
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')


 
