doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    //link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css')
    //script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js')

    script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    
    link(href='/stylesheets/style.css' rel='stylesheet')

    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  body
    block content
