extends ../layout

block content
    a(href="/bicicletas") Volver
    br
    br
    h1 AGREGAR BICICLETA 
    br
    br
    form(action='/bicicletas/create' method='post').form-group
        label(for='id') Id:
        input#id(type='text' name='id').form-control
        label(for='color') Color:
        input#color(type='text' name='color').form-control
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo').form-control
        label(for='latitud') Latitud:
        input#latitud(type='text' name='latitud').form-control
        label(for='longitud') Longitud:
        input#longitud(type='text' name='longitud').form-control
        br
        input.btn(type='submit' value='Agregar').btn-primary
