extends ../layout

block content
    a(href="/bicicletas") Volver
    br
    br
    h1 MODIFICAR BICICLETA 
    br
    br
    form(action=`/bicicletas/${bici.id}/update` method='post').form-group
        label(for='code') Id:
        input#id(type='text' name='code' value=bici.code).form-control
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color).form-control
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo).form-control
        label(for='latitud') Latitud:
        input#latitud(type='text' name='latitud' value=bici.ubicacion[0]).form-control
        label(for='longitud') Longitud:
        input#longitud(type='text' name='longitud' value=bici.ubicacion[1]).form-control
        br
        input.btn(type='submit' value='Agregar').btn-primary
